In [2]:
my_tup = (5,8,4,'simpli','learn',True)

1. Extract "8" in `my_tup`

In [3]:
# code here
my_tup[1]

8

2. Extract "4" in `my_tup`

In [4]:
# code here
my_tup[2]

4

3. Extract 1st three values in `my_tup`

In [12]:
# code here
print(my_tup[:3])

(5, 8, 4)

4. Extract last three values in `my_tup`

In [25]:
# code here
print(my_tup[-3:])

('simpli', 'learn', True)

5. Extract alternate values starting with `5`

In [27]:
print(my_tup)
my_tup[::2]

(5, 8, 4, 'simpli', 'learn', True)

(5, 4, 'learn')

6. Print the data type of 2nd element in `my_tup`

In [29]:
# code here
print(type(my_tup[1]))

<class 'int'>

7. Print the data type of last elment in `my_tup`

In [30]:
# code here
print(type(my_tup[-1]))

<class 'bool'>

8. Add 4th and 5th element in `my_tup`

In [31]:
# code here
add = my_tup[3]+my_tup[4]
print(add)

simplilearn

9. Multiply the output of 8 question with 1st element

In [32]:
# code here
mul=add*my_tup[0]
print(mul)

simplilearnsimplilearnsimplilearnsimplilearnsimplilearn

10. Print all the values in `my_tup` in reverse order

In [49]:
# code here
a=len(my_tup)
print(a)
my_tup[::-1]

6

(True, 'learn', 'simpli', 4, 8, 5)

---
srikanth dakoju :Teacher
Puneet Jain, Swati Jain : Solution